Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-framebuf==1.6.6
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-ssd1306==2.12.18
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.1
args==0.1.0
binho-host-adapter==0.1.6
blinker==1.8.2
click==8.1.7
clint==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==2.1.2
opencv-python==4.10.0.84
picamera==1.13
pillow==11.0.0
psutil==6.1.0
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
PyYAML==6.0.2
RPi.GPIO==0.7.1
smbus==1.1.post2
sysv_ipc==1.1.0
typing_extensions==4.12.2
Werkzeug==3.1.1
