[Unit]
Description=video_sender_from_rpi
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/RTC-B-2.0-002/rtc_robotics/robot_ws
ExecStart=/home/RTC-B-2.0-002/venv_rtc_rover/bin/python onboard.py

Restart=on-failure
RestartSec=1
User=RTC-B-2.0-002
Group=RTC-B-2.0-002

[Install]
WantedBy=multi-user.target